/*=========================RESET CSS=============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*====================================================================*/


body {
    font-family: 'Raleway', sans-serif;
}

.main_picture {
    background: url("../img/bg-header.jpg") no-repeat center center fixed; /*if you delete "fixed" - parallax will be off*/
    background-size: cover;
    height: 100vh;
    max-height: 100%;
    width: 100%;
}



.justify-content-end {
    margin-right: 1%;
}





.bg-light {
    background-color: transparent;
}

a.nav-link {
    color: antiquewhite;
}

.main_content {
    width: 100%;
    max-width: 100%;
    margin-top: 4%;
}

.telephone {
    width: 50%;
}

h2 {
    color: darkgray;
    margin-bottom: 2%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#Craft_memorable {
    color: darkgray;
    margin-bottom: 2%;
    text-align: center;
}

h1 {
    margin-top: 15%;
    color: antiquewhite;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

#Craft_your_journey {
    margin-top: 1.5%;
    color: antiquewhite;
    text-align: center;
    font-size: 1.5rem;
}


#but_sketch {
    margin-top: 2%;
   text-align: center;
}

.btn-outline-light {

    border-radius: 30px;
    width: 200px;
    height: 60px;
    
}

.cards {
    width: 100%;
    max-width: 100%;
    margin-top: 5%;
    text-align: center;
}

.card_circle {
    border: 5px solid darkgray;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    margin-left: 39%
}
h4 {
    margin-top: 2%;
    font-weight: bold;
    font-size: 2rem;
}
h6 {
    margin-top: 10px;
    color: gray;
}


.cards_hr {
    width: 80%;
    border: 1px solid gray;
}


.cards_text {
    color: gray;
    letter-spacing: 2px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.col-md-4 {
    padding: 0px;
    min-width: 100px;
}


.price_card {
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-body {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    border: 2px solid rgb(108, 89, 180);
    color: grey;
    margin: 0 auto;
}

.card-header {
    background: rgb(108, 89, 180);
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 2px;
}

#card_bu_1 {
    margin-top: 10px;
    background: rgb(108, 89, 180);
    border-radius: 20px;
    width: 150px;
    height: 40px;
}

#purp_card {
    width: 80%;
}


