/*=========================RESET CSS=============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*====================================================================*/


body {
    font-family: 'Raleway', sans-serif;
}

.main_picture {
    background: url("../img/bg-header.jpg") no-repeat center center; 
    background-size: cover;
    height: 100vh;
    width: 100%;
}



.justify-content-end {
    margin-right: 1%;
}





.bg-light {
    background-color: transparent;
}

a.nav-link {
    color: antiquewhite;
}

.main_content {
    width: 100%;
    max-width: 100%;
    padding-top: 4%;
    
}

.telephone {
    width: 70%;
}

h2 {
    color: dimgray;
    margin-bottom: 2%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#Craft_memorable {
    color: darkgray;
    margin-bottom: 2%;
    text-align: center;
}

h1 {
    margin-top: 15%;
    color: antiquewhite;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

#Craft_your_journey {
    margin-top: 1.5%;
    color: antiquewhite;
    text-align: center;
    font-size: 1.5rem;
}


#but_sketch {
    margin-top: 2%;
   text-align: center;
}

.btn-outline-light {

    border-radius: 30px;
    width: 200px;
    height: 60px;
    
}

.cards {
    width: 100%;
    max-width: 100%;
    margin-top: 5%;
    text-align: center;
}

.card_circle {
    border: 5px solid #D1D3DB;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    margin-left: 40%; 
}

h4 {
    margin-top: 2%;
    font-weight: bold;
    font-size: 2rem;
}
h6 {
    margin-top: 10px;
    color: gray;
}


.cards_hr {
    width: 70%;
    border: 1px solid #D1D3DB;
}


.cards_text {
    color: gray;
    letter-spacing: 1px;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 5%;
    line-height: 2.2;
}

.col-md-4 {
    padding: 0px;
    min-width: 100px;
}


.price_card {
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-body {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    border: 2px solid rgb(108, 89, 180);
    color: grey;
    margin: 0 auto;
}

.card-header {
    background: rgb(108, 89, 180);
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 2px;
}

#card_bu_1 {
    margin-top: 3rem;
    background: rgb(108, 89, 180);
    border-radius: 20px;
    width: 150px;
    height: 40px;
}

#purp_card {
    width: 80%;
}



#mysb {
    color: dimgrey;
    letter-spacing: 2px;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 7%;
}

.own_card_style {
    line-height: 2.5;
}

.pricing_symbol {
    top: -1.2rem;
    color: black;
    font-size: 1.7rem;
}

.card_price {
    font-size: 4rem;
    color: black;
}

.card_price_month {
    font-size: 1.2rem;
    margin-left: -1rem;
    color: #aeb0b5;
}



.own_style_carousel {
    margin: 0 auto;
    width: 100%;
}

.own_carousel {
    
}

.carousele_picture {
   background: url("../img/bg-testimonials.jpg") no-repeat center center;
    background-size: cover;
    width: 100%; 
    height: 30rem;
}

#make_your_mark {
    font-size: 1.75rem;
    text-align: center;
}

#after_carousele {
    margin-top: 7%;
	
	
}

.main-picture {
    /*padding-right: 15px;*/
}

.after_carousele {
	width: 80%;
	margin-left: 0 auto;
	margin-right: 0 auto;
	padding-left: 15%;
	padding-right: 5%;
	line-height: 2.2
}

#makeYourmark {
	
}

.after_carousele_first {
	border-right: 1px solid #D1D3DB;
}

#padd_own {
	margin-top: 2%;
}

.card_prof {
	margin-left: 10%;
    margin-right: 10%;
}

.picture_block {
	padding: 0;
	
}

.picture_block_main {
	margin-top: 10%;
	margin-bottom: 5%;
    width: 80%;
}

.img_own {
	width: 100%;
    height: 100%;
}

.picture_block_dark {
	background-color: #312f38;
    min-height: 50%;
}

.blue_but {
	padding-top: 5px;
	text-align: center;
	width: 170px;
	height: 30px;
	background: #2b8be3;
	font-size: 1.2rem;
	font-weight: 600;
	color: azure;
	border-radius: 15px;
}

.artstyle {
	margin-top: 4rem;
}

.art_paragraph {
	font-weight: 600;
	font-size: 1.35rem;
	margin-top: 1rem;
	color: azure
}

.art_span {
	padding-right: 1rem;
	color: rgba(255,255,255,.6);
	
}

.spanPosition {
	margin-top: 2.4rem;
}

.divWithForm {
	background: #f4f5f7;
    height: 20rem;
    padding-top: 8rem;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.2);
    color: aliceblue;
}

.FormOwnStyle {

}

.card_circle_1 {
    background: url("/img/heart.png") no-repeat center center;
}

.card_circle_2 {
    background: url("/img/pen.png") no-repeat center center;
}

.card_circle_3 {
    background: url("/img/power.png") no-repeat center center;
}
.mx-sm-3 > input {
    /*margin-right: 6%;*/
    height: 3rem;

}
.mx-sm-3 > input:focus{
   border-color: rgb(108, 89, 180); 
   box-shadow: 0 0 0 0.2rem rgba(108, 89, 180, 0.5);
}

.card_prof > .col-md {
    padding: 0px;
}



/*ALL MEDIA QUERIES*/

@media (max-width: 768px) {
    .picture_block_dark {
	background-color: #312f38;
    min-height: 50%;
    padding-bottom: 2.5rem;

}
    .after_carousele_first{
       border-right: 0px solid #D1D3DB;
       
    }
    .after_carousele {
	width: 85%;
	border-bottom: 1px solid #D1D3DB;
        margin-top: 2%;
}
    .card-body{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width: 996px) {
    .artstyle{
        margin-top: 2rem;
    } 
}



.bg_under_tl {
   background: #f4f5f7; 
}

.signUpOwn {
    /*width: 15%;*/
    border-radius: 50px;
    height: 3rem;
    background: rgb(108, 89, 180);
}

.checkOwn {

}

.card_1 {
    z-index: -1;
}

.purp_card_1 {
   
}

.footer {
    background-color: #312f38;
    width: 100%;
    height: 15rem;
}
